.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.title {
    color: #333;
    margin-bottom: 20px;
}